[submodule "external/pico-sdk"]
	path = external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "external/tinyusb"]
	path = external/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "external/cmsis_5"]
	path = external/cmsis_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "external/st/cmsis_device_f4"]
	path = external/st/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
