[submodule "external/pico-sdk"]
	path = external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "external/tinyusb"]
	path = external/tinyusb
	url = https://github.com/hathach/tinyusb.git
